.chat {
    height: 100vh;
    padding: 0 2em;
    padding-bottom: .3em;
    padding-top: calc(100px + 2em);
    display: flex;
    gap: 1em;
    overflow-y: scroll;

    .response-text {
        text-align: center;
    }

    .old-chats.hide {
        display: none;
    }

    .old-chats.show {
        width: 250px;
        padding: .2em .5em;
        background-color: rgb(249, 249, 249);
        border-right: 1px solid rgb(231, 229, 229);
        border-radius: .5em;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            color: white;
        }

        .recipient {
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            gap: .5em;
            position: relative;
            margin-bottom: .5em;

            .message-details-container {
                width: calc(100% - 50px);

                .last-message-div {
                    display: flex;
                    justify-content: space-between;
                    text-align: right;

                    .last-message {
                        font-size: .8rem;
                        direction: ltr;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        display: block;
                        flex: 1;
                        text-align: left;

                    }

                    .last-message-time {
                        width: auto;
                    }
                }
            }

            .unread-msg {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background-color: #32a852;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 0;
            }

            .profile-pic {
                position: relative;
                width: 40px;

                img {
                    width: 100%;
                }

                .online-status.online {

                    height: 10px;
                    width: 10px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border-radius: 100%;
                    background-color: #32a852;

                }

                .online-status.offline {

                    height: 10px;
                    width: 10px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border-radius: 100%;


                    background-color: rgb(146, 144, 144);
                }
            }

            p {
                font-size: .8rem;
            }
        }
    }

    .inbox.hide {
        display: none;
    }

    .inbox.show {
        width: calc(100% - 250px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .no-message {
            text-align: center;
        }

        .recipient-div {
            display: flex;
            align-items: center;
            gap: .5em;

            .status {
                color: rgb(128, 126, 126);
                font-family: cursive;
                margin-top: -.5em;
            }

            .profile-pic {
                width: 40px;

                img {
                    width: 100%;
                }
            }

            p {
                font-size: .8rem;
            }
        }

        .chat-box {
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            &::-webkit-scrollbar {
                color: white;
            }
        }

        .message-group {
            margin-bottom: 20px;

            .date-heading {
                text-align: center;
                font-size: 1em;
                color: #666;
                margin: 10px 0;
            }
        }

        .message-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            &.left {
                justify-content: flex-start;
                text-align: left;
            }

            &.right {
                justify-content: flex-end;
                text-align: left;
            }
        }

        .message-box {
            max-width: 70%;
            padding: 10px;
            border-radius: 10px;
            position: relative;
            word-wrap: break-word;

            &.left {
                background-color: #f1f0f0;
                text-align: left;
            }

            &.right {
                background-color: #32a852;
                text-align: left;
                color: white;
            }
        }

        .time {
            font-size: 0.8em;
            color: #888;
            margin-top: 5px;
        }

        .input-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            gap: .2em;

            .textarea-label {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                textarea {
                    width: 100%;
                    min-height: 50px;
                    padding: .5em .5em;
                    border-radius: .5em;
                    resize: none;
                    font-size: 1rem;

                    &::-webkit-scrollbar {
                        color: white;
                    }

                }
            }

            .send-icon {
                border: none;
                cursor: pointer;
                height: 40px;
                width: 40px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #32a852;
                margin-bottom: .5em;

                .icon {
                    width: 40px;
                    height: 20px;
                    color: white;
                }
            }
        }
    }
}