.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 2em;

    .description-container {
        width: 365px;
        margin-bottom: .5em;

        .description-title {
            text-align: left;
            font-size: 2rem;
            font-weight: 700;
            color: #32a852;
        }

        .description-text {
            margin-top: -.3em;
        }
    }

    .signup-form {
        display: flex;
        flex-direction: column;

        border-radius: .3em;
        padding: 2em 2em;
        box-shadow: 1px 1px 3px 2px rgb(203, 201, 201);

        .signup-form-label {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin-bottom: 1em;
            color: rgb(48, 47, 47);


            input {
                height: 35px;
                text-indent: .5em;
                border-radius: .3em;
                border: 1px solid rgb(158, 157, 157);
                font-size: 1rem;

            }
        }

        .radio {
            display: flex;

            .radio-input-container {
                display: flex;
                align-items: center;
                gap: 1em;


                .radio-input {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: .3em;
                    border: 1px solid rgb(206, 206, 206);
                    padding: 0 1em;
                    border-radius: .3em;
                }
            }
        }

        .signup-button {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1em;
            height: 35px;

            button {
                padding: .3em 2em;
                border: none;
                background-color: white;
                font-size: 1rem;
                width: 100%;
                background-color: #32a852;
                color: white;
                border-radius: .3em;
                border: 1px solid #32a852;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #32a852;
                    background-color: white;
                }
            }
        }

        .divider {
            margin-top: 2em;
            margin-bottom: 1em;
        }

        .login-page-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .login-page-btn {
                padding: .5em 2em;
                background-color: #346eeb;
                border: 1px solid #346eeb;
                color: white;
                text-decoration: none;
                border-radius: .3em;
                font-size: 1rem;
                transition: 0.3s;

                &:hover {
                    color: #346eeb;
                    background-color: white;
                }
            }
        }
    }
}